fastapi
uvicorn
pymongo
requests
pytest
dotenv
rich
python-dotenv
pydantic
pydantic[email]
pydantic-settings
passlib
python-jose
httpx
passlib[bcrypt]
aiosmtplib
email-validator
lxml
python-multipart
selectolax

