fastapi
uvicorn
pymongo
requests
pytest
dotenv
rich
python-dotenv
pydantic
pydantic[email]
pydantic-settings
passlib==1.7.4
bcrypt==4.0.1
python-jose
httpx
aiosmtplib
email-validator
lxml
python-multipart
selectolax

